{% extends "base.njk" %}
{% block content %}

  <style>
    .bookings-form {
      padding: var(--space-sm);
      background-color: rgba(0,0,0,.5);
    }

    .bookings-form,
    button,
    input,
    label,
    select,
    textarea {
      width: 100%;
      font-size: 20px;
    }

    .bookings-form * {
      font-family: "Inconsolata Variable";
      color: #FFFFFF;
    }

    label {
      text-transform: none;
      display: block;
      margin-bottom: var(--space-2xs);
    }

    button,
    input,
    select,
    textarea {
      transition: background-color 0.2s ease-in;
      border-radius: 3px;
      border: 1px solid white;
      background-color: transparent;
      padding-left: var(--space-2xs);
      padding-top: var(--space-3xs);
      padding-bottom: var(--space-3xs);
      margin-bottom: var(--space-sm);
    }

    input:focus,
    select:focus,
    textarea:focus {
      background-color: {{theme.backgroundColor}};
    }

    button {
      margin-top: var(--space-sm);
      margin-bottom: var(--space-sm);
    }
  </style>

  <form class="bookings-form" action="YOUR_SUBMISSION_URL" method="post">
    <label for="name">What's your name?</label>
    <input type="text" id="name" name="name" required>

    <label for="contact">How can I reach you?</label>
    <input type="text" id="contact" name="contact" required>

    <label for="services">What services are you interested in?</label>
    <select id="services" name="services">
      <option value="dance_gig">Dance Gig/Performance</option>
      <option value="dance_teaching">Dance Teaching</option>
      <option value="choreography">Choreography</option>
      <option value="choreography">Collaboration</option>
      <option value="other">Other</option>
    </select>

    <fieldset>
      <legend>Details</legend>
      <label for="location">Location:</label>
      <input type="text" id="location" name="location">

      <label for="time">Time:</label>
      <input type="text" id="time" name="time">

      <label for="generalDetails">General Details:</label>
      <textarea id="generalDetails" name="generalDetails" rows="4" cols="50"></textarea>
    </fieldset>

    <button type="submit">Submit</button>
  </form>
{% endblock %}