---
baseUrl: gnh.vibing.digital
title: George Nicholson Harris
# headline: NBA Dancer | Choreographer | Data Analyst
links:
   - 
      image: /assets/icons/mavericks.png
      url: https://www.instagram.com/mavsoffcourt/
      blendmode: normal # Default
      gridrow: 1
      gridcolumn: 2
   - 
      image: /assets/icons/bulls.png
      url: https://www.instagram.com/bulls.entertainment/
      blendmode: normal # Default
      gridrow: 1
      gridcolumn: 3
   - 
      image: /assets/icons/coda.png
      url: https://www.instagram.com/coda_world/
      blendmode: multiply
      gridrow: 2
      gridcolumn: 1
   - 
      image: /assets/icons/dailycenter.png
      url: https://www.instagram.com/dailycenterchicago/
      blendmode: multiply
      gridrow: 2
      gridcolumn: 2
   - 
      image: /assets/icons/purdue.png
      url: https://www.instagram.com/dance2xspurdue/
      blendmode: multiply
      gridrow: 2
      gridcolumn: 3
titleColor: "white"
titleSize: +3  # Accepts "+/-N". N is in lvw.
headlineColor: "#D08BC7"
backgroundImage: "/background.png"
backgroundColor: "#000408"
lyket: false
---

{% extends "base.njk" %}
{% block content %}

   <div class="video-banner">
      <div class="link">
         <a href="/vid-2.mp4">
            <p>
        Watch the latest project >>>
      </p>
         </a>
      </div>
      <video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop>
         <!-- 
   - Video needs to be muted, since Chrome 66+ will not autoplay video with sound.
   WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
         {# <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm"> #}
         <source src="/vid-2.mp4" type="video/mp4">
      </video>
   </div>

   <!-- header: for introductory content -->
   <header>
      <hgroup>
         <h1 class="title">{{title}}</h1>
         <p class="headline">{{headline}}</p>
      </hgroup>
   </header>
   <main>
      <section class="links">
         {% for link in links %}
            <nav class="link" style="
                     grid-row: {{link.gridrow}};
                     grid-column: {{link.gridcolumn}};">
               <a target="_blank" href="{{link.url}}"><img 
                  style="
                     mix-blend-mode:{{link.blendmode}};" src="{{link.image}}"/></a>
            </nav>
         {% endfor %}
      </section>
   </main>

</body>

<style>
   /* layout styles for the top-level sections: header, section.links*/
   header {
      position: absolute;
      top: 15%;
      left: 5%;
      right: 5%;
      height: 30%;
      display: grid;
      place-content: flex-start;
   }

   main {
      position: absolute;
      bottom: 8%;
      right: 5%;
      left: 5%;
      height: 60%;
      display: grid;
      place-content: flex-end;
   }

   .video-banner p {
      position: absolute;
      top: 3%;
      right: var(--space-2xs);
      text-decoration: underline;
      font-stretch: condensed;
   }

   /*add object-position to config*/
   video {
      object-fit: cover;
      object-position: center;
      position: absolute;
      top: 15%;
      left: 50%;
      width: 100%;
      height: 15%;
      transform: translateX(-50%) translateY(-50%);
      /*background: url("//demosthenes.info/assets/images/polina.jpg") no-repeat;*/
      background-size: cover;
      transition: 1s opacity;
   }
</style>

<style>

   * {
      font-family: Inconsolata;
   }

   /*styles for WITHIN the top-level sections: header, section.links*/

   header hgroup {
      width: max-content;
      height: max-content;
   }

   h1.title {
      font-size: clamp(16px, {{25 + titleSize}}lvw, 160px);
      font-family: "Tungsten Narrow";
      text-align: left;
      width: min-content;
      color: {{titleColor}};
      margin: 0;
      line-height: 1;
   }

   p.headline {
      font-size: clamp(16px, 4lvw, 180px);
      color: {{headlineColor}};
      text-align: right;
      margin-top: -0.5rem;
      margin-right: 0.5em;
      letter-spacing: 0.09em;
      opacity: 0.9;
   }

   section.links {
      max-height: 48lvh;
      max-width: 100%;
      display: flex;
      flex-direction: row;
      gap: var(--space-2xs);
      flex-wrap: wrap;
      direction: ltr;
      margin-right: var(--space-xs);
      /*width: max-content;*/

      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr 1fr;
   }

   section.links img {
      width: 100%;
   }

   section.links .link {
      width: 80px;
   }

   .video-banner p {
      color: {{headlineColor}};
      font-weight: 600;
      font-family: "Inconsolata Variable", monospace;
   }
</style>

{% endblock %}